/*@keyframes fade-in {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/** {*/
/*    animation-name: fade-in;*/
/*    animation-duration: 0.3s;*/
/*    animation-iteration-count: 1;*/
/*    animation-timing-function: ease-in-out;*/
/*}*/

img {
    width: 100px;
    display: block;
    margin-bottom: 1rem;
}

input {
    display: block;
    margin-bottom: 1rem;
}

button {
    display: block;
    margin-bottom: 1rem;
}